$color-heading: #102312;
$white: #ffffff;
$primary-btn-background: #0f6b37;
$primary-btn-background-hover: #075629;
$primary-btn-font-color: #fff;
$desire: #ef4157;
$color-white: #fff;
$global-fonts: 'Nunito', sans-serif;
$successNotifcation: #30cb83;
