<div class="modal-wrap modal--sm">
  <!-- For others -->
  @if (message) {
  <form class="mat-form-formatting">
    <div class="text-center confirmation-box">
      <h1>Confirmation</h1>
      <p>{{ message }}</p>
    </div>
    <div class="confirmation-footer">
      <button
        mat-raised-button
        color="primary"
        (click)="onConfirm()"
        type="button"
      >
        Confirm
      </button>
      <button
        mat-raised-button
        color="secondary"
        (click)="onCancel()"
        type="button"
      >
        Cancel
      </button>
    </div>
  </form>
  } @else {
  <!-- For delete record -->
  <form class="mat-form-formatting">
    <div class="text-center confirmation-box mat-form-formatting">
      <div class="confirmation-box__circle">
        <i class="fas fa-times"></i>
      </div>
      <h1>Are you Sure?</h1>
      <p>
        Do you really want to delete the record {{ recordName ? recordName : ""
        }}?
      </p>
    </div>
    <div class="confirmation-footer">
      <button
        mat-raised-button
        color="primary"
        (click)="onConfirm()"
        type="button"
      >
        Delete
      </button>
      <button
        mat-dialog-close
        mat-raised-button
        color="secondary"
        type="button"
      >
        Cancel
      </button>
    </div>
  </form>
  }
</div>
