@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';
.login-form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 60px auto;
    h1{
        @include fontSize-lineHeight(30,45);
    }
    .mat-mdc-form-field{
        margin-bottom: 20px;
    }
}